{block content}

<script>
  jQuery(document).ready(function() {
    $.ajax({
      url: {$baseUri} + "/random-products/get?shop=merch-testing.myshopify.com",
      type: 'GET',
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      crossDomain: true,
      success: function(data) {

        for (var k in data) {
          if (data.hasOwnProperty(k)) {

            var product = data[k];
            var item = $('<div>').addClass('item');

            var link = $('<a>').attr('href', 'products/' + product['handle']);
            item.append(link);

            var src = product['image']['src'];
            var src = src.substring(0,src.lastIndexOf(".")) + '_300x250' + src.substring(src.lastIndexOf("."));
            var baseImg = $('<img>').attr('src', src).addClass('carousel__image');
            link.append(baseImg);

            var tags = product['tags'].split(',');

            if (tags.includes('Custom')) {
              var customImg = $('<img>').
                  attr('src',
                      'https://cdn.shopify.com/s/files/1/2494/6956/t/24/assets/vlastny-text-roh-2.png?217667876637646166');
              link.append(customImg);
            }

            var priceValue = 0;
            for (var vk in product['variants']) {

              if(product['variants'][vk]['price'] > priceValue){
                priceValue = product['variants'][vk]['price'];
              }
            }

            var price = $('<p>').addClass('product-single__price product-single__price-product-template');

            var s1 = $('<span>').addClass('visually-hidden')
            .text('Základná cena');
            price.append(s1);

            var s3 = $('<span>').addClass('product-price__price product-price__price-product-template');
            price.append(s3);

            var s4 = $('<span>').
                attr('id', 'ProductPrice-product-template').
                attr('itemprop', 'price').
                attr('content', priceValue).
                text(priceValue + ' €');
            s3.append(s4);

            var s5 = $('<span>').addClass('product-price__sale-label product-price__sale-label-product-template hide');
            s3.append(s5);

            item.append(price);

            $('body').append(item);
          }
        };

      }, cache: false,
    });
  });
</script>
